user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
}

http {
        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        server {
               listen 80;
        
               root /var/www/html;
               index ansible-index.html;
        
               location / {
                       try_files $uri $uri/ =404;
               }
        }
}
